.App {
  text-align: left;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.goup{
  opacity: 0.3;
  transition: all 1s;
  bottom:0px;
  text-align:center;
  width: 100%;
  
}
.goup:hover{
  opacity: 0.9;
}

hr{
  border-top: 1px solid black;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.h2 {
  height: 2rem;
}

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link:link, .link:visited {
  transition: color .15s ease-in;
}

.link:hover {
  transition: color .15s ease-in;
}

.link:active {
  transition: color .15s ease-in;
}

.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

.w2 {
  width: 2rem;
}

.near-black {
  color: #111;
}

.hover-silver:hover {
  color: #999;
}

.hover-silver:focus {
  color: #999;
}

.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mh3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tc {
  text-align: center;
}

.f6 {
  font-size: .875rem;
}
