.Navigation{
    width: 100%;
    text-align: right;
    /* background: #C6FFDD;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.nav{
    padding: 5%;   
}
@media screen and (max-width: 1100px){
  .Navigation{
      width: 100%;
      text-align: center;
  }
  .nav{
    /* margin: 2%; */
      /* padding: 8%; */
      display:inline-flex;
  }
  }
.yt{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transition: color .15s ease-in;
}
.as{
    display: inline-block;
    text-decoration: none;
    transition: color .15s ease-in;
}

.Navigation:hover{
    opacity: 0.8;
}

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}
.link {
    text-decoration: none;
    transition: color .15s ease-in;
}